/** SETUP*/
@import url(./var.css);
/**************/

/************************PAYMENT************************/
.main-view__payment {
  margin-top: 25px;
}

/************PAYMENT CART*************/
.payment__cart {
  height: 50%;
}

.payment__item {
  display: grid;
  grid-template-columns: 4fr 7fr 1fr;
  column-gap: 10px;
}

.product__image {
  max-width: 256px;
  max-height: 144px;
  border: 1px solid var(--color-grey-light-3);
  background-color: white;
}

.increment {
  display: flex;
  margin: 2% 22%;
}

.increment__btn {
  cursor: pointer;
  width: 20px;
  border: none;
  background-color: white;
}

.increment__btn-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.increment__btn-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#increment__label {
  font-size: 1.6em;
  text-align: center;
  min-width: 30px;
  max-width: 80px;
  border: none;
  border-left: 1px solid var(--color-grey-dark-5);
  border-right: 1px solid var(--color-grey-dark-5);
  background-color: white;
}

.product__price {
  margin: 2% 22%;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 2em;
}

.payment__infomation {
  width: 85%;
}

.payment__delete {
  display: flex;
  justify-content: center;
  align-self: center;
}

.delete__icon {
  width: 25px;
  cursor: pointer;
  fill: var(--color-grey-dark-1);
}

/****************PAYMENT CHECKOUT******************/
.payment__checkout {
  margin: 3% 0;
}

/********************************************/

/*****************PAYMENT FORM******************/
.form__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.form__left-input,
.form__right-input {
  margin: 3% 0;
}

.form__input {
  border: 1px solid var(--color-grey-light-4);
  padding: 5px;
  font-size: 1.4em;
  color: rgb(82, 82, 82);
  background-color: white;
}

.form__input-number::-webkit-inner-spin-button,
.form__input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form__input-number {
  -moz-appearance: textfield;
}

#credit-card__info {
  display: none;
}

#credit-card:checked ~ #credit-card__info {
  display: block;
}

.form__label {
  line-height: 1.5em;
  margin: 0 2%;
  font-size: 1.2em;
  display: inline-block;
  max-width: 150px;
  min-width: 70px;
}

.form__submit {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.form__btn {
  padding: 10px 20px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 53, 53);
  color: white;
  font-size: 1.7em;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  transition: background-color 0.6s ease;
  border: transparent;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}
.form__btn:hover {
  background-color: rgb(255, 0, 0);
}

/********************************************/
